#profileImage {
	display: block;
	max-width: 128px;
	height: auto;
	margin: 0.625em 1em 0.1em 2em;
	float: left;
	filter: drop-shadow(6px 6px #0087BD);
}

#about p {
	padding-bottom: 1em;
}

#about h2 {
	text-align: center;
	padding-bottom: 0.25em;
	margin-bottom: 0.5em;
}
h2:after {
	content: " ";
	display: block;
	height: 2px;
	width: 30%;
	min-width: 256px;
	margin: auto;
	background-color: #222;
	box-shadow: 0 3px 5px 1px #22222233;
}