@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

* {
	padding: 0px;
	margin: 0px;
	box-sizing: border-box;
	font-family: 'Lato', sans-serif;
}

body {
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

html,
body {
	min-height: 100vh;
	display: flex;
	flex-direction: column;
	position: relative;
}

main {
	background: #E9E8E6;
	color: #222;
	min-height: 100%;
	flex-grow: 1;
	padding: 1em 10% 90px 10%;
}

h1, h2, h3, h4, h5, h6 {
	font-family: 'Abril Fatface', cursive;
	letter-spacing: 2px;
}