@import url('https://fonts.googleapis.com/css2?family=Merriweather&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

* {
	padding: 0px;
	margin: 0px;
	box-sizing: border-box;
	font-family: 'Lato', sans-serif;
	font-smooth: always;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

html,
body {
	min-height: 100vh;
	display: flex;
	flex-direction: column;
	position: relative;
}

main {
	background: #E9E8E6;
	color: #222;
	min-height: 100%;
	flex-grow: 1;
	padding: 1em 10% 90px 10%;
}

h1, h2, h3, h4, h5, h6 {
	font-family: 'Merriweather', serif;
	letter-spacing: 2px;
	font-smooth: always;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

h2 {
	text-align: center;
	padding-bottom: 0.25em;
	margin-bottom: 0.5em;
}
h2:after {
	content: " ";
	display: block;
	height: 2px;
	width: 30%;
	min-width: 256px;
	margin: auto;
	background-color: #222;
	box-shadow: 0 3px 5px 1px #22222233;
}

a {
	text-decoration: none;
	color: white;
}
a:hover {
	text-decoration: underline;
}